/build/
/GPATH
/GRTAGS
/GTAGS
/ext/
/debug/
/static/
/dsa-seahorn/
/clam/
/sea-dsa/
/sea-svf/
/llvm-dsa/
*.pyc
*.pyo
/llvm-seahorn/
/seahorn-llvm/
/gtags.files
/lib/Support/GitSHA1.cc
.lsp-cache.d
.mainframer
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
/.clangd/
/.cache/
.ccls
.ccls-root
CMakeUserPresets.json
compile_commands.json